{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center-align">
        <div class="col s12">
            <h1><b>Error!</b></h1>
            <img src="{{ url_for('static', filename='images/500.png') }}" alt="500" class="responsive-img">
        </div>
        <div class="col s12">
            <h5>Don't worry. We have things under control (mostly).</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn deep-orange darken-1 align-center" href="{{ url_for('index') }}"><i
                    class="material-icons right">chevron_right</i>Back to Safety</a>
        </div>
    </div>
</div>
{% endblock %}