{% extends "base.html" %}


{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center white-text"><strong>Kawach</strong></h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">The <strong>Most Authentic </strong>supplier of Elaichi
        </h5>
      </div>
      <br><br>
      <div class="row center">
        <a href="/products" id="download-button" class="btn-large waves-effect waves-light deep-orange darken-1">Browse
          Our
          Products</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/elaichi_back.jpg')}}">
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">favorite</i></h2>
          <h5 class="center">The company you can trust</h5>

          <p class="light">Handpicked cardamom, choicest saffron, coated in pure Silver leaves is what makes Kawach Elaichi a discernable after mint. A rich blend of freshness that delights the palate with its aromatic flavour, Kawach Elaichi make a delightful companion at all times. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">grade</i></h2>
          <h5 class="center">Highly rated</h5>

          <p class="light">Known for its refined taste, pleasing aroma and lasting flavour, Kawach Elaichi has set new standards for others to emulate. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">sentiment_very_satisfied</i></h2>
          <h5 class="center">Highest satisfaction</h5>

          <p class="light"> With green cardamom seeds handpicked from the finest orchards across India, Kawach Elaichi’s special blend of flavours and spices, enhanced with a pure silver coating, enjoys patronage from consumers across the world. </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text"><i class="material-icons text-white">format_quote</i>The most Authentic and honest brand you can ever find!<i class="material-icons text-white">format_quote</i></h5>
        <br>
        <h6>-Sarvesh Yadav</h6>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/elaichi_back.jpg')}}">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4 class="header">Who We Are</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <div class="col s3">
          <img src="{{url_for('static', filename='images/man.png')}}" alt="CEO"
            class="circle responsive-img">
          <h5 class="header">CEO</h5>
          <h5 class="light">Dinesh Pathak</h5>
        </div>
        <div class="col s3">
          <img src="{{url_for('static', filename='images/man2.jpg')}}" alt="CFO"
            class="circle responsive-img">
          <h5 class="header">CFO</h5>
          <h5 class="light">Dinesh Pathak</h5>
        </div>
        <div class="col s3">
          <img src="{{url_for('static', filename='images/man.png')}}" alt="head-of-sales"
            class="circle responsive-img">
          <h5 class="header">Head of Sales</h5>
          <h5 class="light">Sarvesh Yadav</h5>
        </div>
        <div class="col s3">
          <img src="{{url_for('static', filename='images/man2.jpg')}}" alt="VP Sales"
            class="circle responsive-img">
          <h5 class="header">VP Sales</h5>
          <h5 class="light">Sarvesh Yadav</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text">Kawach Elaichi’s special blend of flavours and spices, enhanced with a pure silver coating, enjoys patronage from consumers
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/elaichi_back.jpg')}}"></div>
</div>
{% endblock %}
