{% extends "base.html" %}


{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center white-text"><strong>Heeng</strong></h1>
      <div class="row center">
        <h5 class="header col s12 dark white-text">Hing powder is also known as Food of the Gods and holds therapeutic and curative powers.Hing powder is considered one of the best traditional medicine
        </h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/heeng_rest.jpg')}}">
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">favorite</i></h2>
          <h5 class="center">Trusted</h5>

          <p class="dark">Our company uses natural components for the manufacturing of these products so that you can stay away from any harm and problems that can affect your health. For us, your health matters a lot. We focus on manufacturing the products that are completely non-toxic, harmless, and made from natural organic products. We also have a team of experts who looks after the production process and checks the quality, range of colors, Hing, and other products.We are connected with the eminent vendors in all over the country who provide us with the raw materials.
             </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">grade</i></h2>
          <h5 class="center">Highly rated</h5>

          <p class="dark">Our company uses natural components for the manufacturing of these products so that you can stay away from any harm and problems that can affect your health. For us, your health matters a lot. We focus on manufacturing the products that are completely non-toxic, harmless, and made from natural organic products. We also have a team of experts who looks after the production process and checks the quality, range of colors, Hing, and other products.We are connected with the eminent vendors in all over the country who provide us with the raw materials.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons deep-orange-text text-darken-1">sentiment_very_satisfied</i></h2>
          <h5 class="center">Highest satisfaction</h5>

          <p class="dark"> Our company uses natural components for the manufacturing of these products so that you can stay away from any harm and problems that can affect your health. For us, your health matters a lot. We focus on manufacturing the products that are completely non-toxic, harmless, and made from natural organic products. We also have a team of experts who looks after the production process and checks the quality, range of colors, Hing, and other products.We are connected with the eminent vendors in all over the country who provide us with the raw materials.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
