{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <!-- Name -->
                <h2><strong>{{ result[1] }}</strong></h2>
            </div>
            <!-- Left side -->
            <div class="col s6">
                <img src="{{ url_for('static', filename=result[4]) }}" class="responsive-img">
            </div>
            <!-- Right side -->
            <div class="col s6">
                <!-- Details -->
                <p class="light">{{ result[7] }}</p>

                <!-- Colors -->
                <h4><b>Colors</b></h4>
                {% for color in result[5].split(",") %}
                <i class="fas fa-circle {{color}}-text"></i>
                {% endfor %}
                <!-- Price -->
                <h4><b>Price</b></h4>
                <h5 class="light">${{ result[2] }}</h5>

                <!-- In Stock -->
                {% if result[6] == 'Y' %}
                <h5 class="green-text">In Stock</h5>
                {% else %}
                <h5 class="red-text">Out of Stock</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}