{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- <div class="row">
        <div class="col s12">
            <h1><b>Our Products</b></h1>
        </div>
    </div> -->
    <div class="row center">
        <div class="col s4 offset-s4">
            <h3>Products</h3>
            <p class="dark">Choose from the wide variety of Products we sell</p>
        </div>
    </div>
    <!-- Products row with images -->
    <div class="row">
        <div class="col s3">
            <i class="fas fa-box deep-orange-text text-darken-1"></i>
            <h5>Elaichi</h5>
            <p class="dark">Directly imported from the lands of Kerala, straight from the local farmers, After Further Processing, We can Proudly say, there can be no Elaichi with authenticity</p>
        </div>
        <div class="col s3">
            <i class="fas fa-boxes deep-orange-text text-darken-1"></i>
            <h5>Ajjwain</h5>
            <p class="dark">Directly imported from the lands of Kerala, straight from the local farmers, After Further Processing, We can Proudly say, there can be no Ajjwain with authenticity
            </p>

        </div>
        <div class="col s3">
            <i class="fas fa-pallet deep-orange-text text-darken-1"></i>
            <h5>Jeera</h5>
            <p class="dark">
                Directly imported from the lands of Kerala, straight from the local farmers, After Further Processing, We can Proudly say, there can be no Jeera with authenticity
            </p>

        </div>
        <div class="col s3">
            <i class="fas fa-truck-loading deep-orange-text text-darken-1"></i>
            <h5>Heeng</h5>
            <p class="dark">
                Directly imported from the lands of Kerala, straight from the local farmers, After Further Processing, We can Proudly say, there can be no Heeng with authenticity
            </p>
        </div>
    </div>
    <!-- Buttons Row -->
    <div class="row buttons-row">
        <div class="col s3"> <a class="waves-effect waves-dark btn deep-orange darken-1"
                href="{{ url_for('product1') }}"><i class="material-icons right">chevron_right</i>Learn
                More</a>
        </div>
        <div class="col s3"> <a class="waves-effect waves-dark btn deep-orange darken-1"
                href="{{ url_for('product2') }}"><i class="material-icons right">chevron_right</i>Learn
                More</a>
        </div>
        <div class="col s3"> <a class="waves-effect waves-dark btn deep-orange darken-1"
                href="{{ url_for('product3') }}"><i class="material-icons right">chevron_right</i>Learn
                More</a>
        </div>
        <div class="col s3"> <a class="waves-effect waves-dark btn deep-orange darken-1"
                href="{{ url_for('product4') }}"><i class="material-icons right">chevron_right</i>Learn
                More</a>
        </div>
    </div>
</div>

{% endblock %}